@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* reset css */

body, header, main, section, table, table tr, table tr td,
div, ul, ul li, h1, h2{
    margin: 0;
    padding: 0;
}

.body{
    font-size: inherit;
}

button, button:hover, button:focus, button:active{
    outline: none;
    background-color: inherit;
    cursor: pointer;
}

button, input{
    font: inherit;
}

ul{
    list-style-type: none;
}

/* design */

body{
    background-color: lightgray;
    font-family: 'Noto Sans KR', sans-serif;
}

.header{
    height: 180px;
    background-image: url("./public/Logo_img.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: top center;
}

.title{
    display: none;
}

.main{
    width: 60%;
    margin: 0 auto;
    padding: 30px;
}

.mainWrapper{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 0 28px;
}


.sections{
    /* box-sizing: border-box; */
    width: 330px;
    background-color: white;
}

.sections.machine{
    padding: 19px 27px;
    float: left;
}

.rightDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sections.myMoney{
    padding: 9px 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    height: fit-content;
}
.sections.myDrinks{

    padding: 19px 27px;
}

.colaList{
    overflow: hidden;
}

.colaList>li{
    float: left;
    margin: 6px;
}

.cola{
    width: 70px;
    padding: 11px 11px 9px 13px;
    border-radius: 10px;
    border: 2px solid lightgray;
    box-shadow: 0 0 10px lightgray;
    text-align: center;
}

.colaImage{
    width: 36px;
    height: 65px;
}

.colaName{
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
}

.colaPrice{
    /* width: fit-content; */
    display: block;
    margin-top: 7px;
    padding: 5px 15px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: white;
    background-color: #6327FE;
}

.moneyDiv{
    height: fit-content;
    padding: 5px 10px;
    background-color: lightgray;
    border-radius: 8px;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.buttonAndElse{
    width: 100%;
}

.buttonAndElse :nth-child(1){
    width: 200px;
    float: left;
}

.buttonAndElse:nth-child(2){
    float: right;
}

.money{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px;
    padding: 6px 10px;
    background-color: #EAE8FE;
}

.money.balance::before{
    content: "잔액: ";
    display: block;
    float: left;
}

.money.have::before{
    content: "잔액: ";
    display: block;
    float: left;
}

.buttons{
    border-radius: 8px;
    border: 2px solid lightgray;
    box-shadow: 0 0 10px lightgray;
}

.buttons.return{
    grid-area: returnButton;
}

.buttons.deposit{
    grid-area: depositButton;
}

.buttons.buy{
    grid-area: buyButton;
    background-color: #6327FE;
    color: white;
}

.input.deposit{
    grid-area: depositInput;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
}

.buyDrinkList, .ownDrinkList{
    background-color: lightgray;
    border-radius: 8px;
    border: 2px solid gray;
}

.buyDrinkList>li,
.ownDrinkList>li{
    width: fit-content;
    margin: 2px auto;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid lightgray;
    box-shadow: 0 0 10px lightgray;
    background-color: white;
}

.buyDrinkList{
    height: 106px;
    overflow-y: scroll;
    grid-area: drinkList;
}

.myDrinksHeader{
    margin-bottom: 20px;
}

.ownDrinkList{
    width: 306px;
    height: 500px;
    overflow-y: scroll;
}
