@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* reset */

body, header, section, p, div, ul, ul li, h1, h2{
    margin: 0;
    padding: 0;
}

body{
    font-size: inherit;
}

button, button:hover, button:focus, button:active{
    border: none;
    background-color: inherit;
    cursor: pointer;
}

button, input{
    font: inherit;
}

input{
    border: none;
}

ul{
    list-style-type: none;
}

/* design */

body{
    background-color: #EAE8FE;
    font-family: 'Noto Sans KR', sans-serif;
}

.header{
    height: 180px;
    background-image: url("./public/Logo.png");
    background-repeat: no-repeat;
    background-size: 386px 180px;
    background-position: top center;
}

.title{
    color: transparent;
}

.mainWrapper{
    margin: 67px auto;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.machineSection,
.mySection{
    box-sizing: border-box;
    width: 360px;
}

.machineSection{
    background-color: white;
    padding: 19px 27px;
}

.colaList,
.buyWrapper{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.buyWrapper{
    margin-top: 20px;
    gap: 11px 12px;
}

.myMoneyWrapper{
    background-color: white;
    padding: 9px 27px;
}

.myColaWrapper{
    padding: 19px 27px;
    background-color: white;
    margin-top: 20px;
}

.cola{
    box-sizing: border-box;
    width: 94px;
    height: fit-content;
    padding: 11px 11px 9px 13px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    position: relative;
}

.cola:hover, .cola:focus, .cola:active, .cola.clicked{
    outline: 3px solid #6327FE;
}

.colaImage{
    width: 36px;
    vertical-align: top;
    margin: 0 auto;
}

.colaName{
    display: block;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    margin: 6px 0 7px;
}

.colaPrice{
    display: block;
    padding: 5px 15px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: white;
    background-color: #6327FE;
}

.cola.soldout{
    pointer-events: none;
    outline: none;
}

.cola.soldout::after{
    display: block;
    content: "품절";
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./public/soldout.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.balanceMoney,
.myMoney{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px;
    padding: 6px 10px;
    background-color: #EAE8FE;
    text-align: right;
}

.balanceMoney{
    grid-column: 1 / span 2;
}

.balanceMoney::before{
    content: "잔액: ";
    display: block;
    float: left;
    font-weight: 500;
}

.myMoney::before{
    content: "소지금: ";
    display: block;
    float: left;
    font-weight: 500;
}

.balanceMoney::after,
.myMoney::after{
    content: "원";
    display: block;
    float: right;
    margin-left: 5px;
}

.depositInput{
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    grid-column: 1 / span 2;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    text-indent: 6px;
}

.buyColaList, .ownColaList{
    box-sizing: border-box;
    background-color: #EAE8FE;
    border-radius: 8px;
    border: 1px solid #BDBDBD;
    overflow-y: scroll;
    padding: 12px;
}

.buyColaList{
    height: 106px;
    grid-column: 1 / span 2;
}

.buyColaList>li>button,
.ownColaList>li>button{
    width: 100%;
    box-sizing: border-box;
    margin: 2px auto;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #BDBDBD;
    background-color: white;
    overflow: hidden;
    text-align: left;
}

.buyColaList>li,
.ownColaList>li{
    display: none;
}

.buyColaList>li.selected,
.ownColaList>li.selected{
    display: list-item;
}

.ownColaList>li>button{
    pointer-events: none;
}

.buyColaImage{
    float: left;
    width: 18px;
    height: 33px;
    vertical-align: bottom;
}

.buyColaName{
    margin-left: 8px;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    color: #333333;
    vertical-align: bottom;
}

.buyColaCount{
    float: right;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 11px 6px 11px;
}

.returnButton,
.depositButton,
.buyButton{
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    font-size: 13px;
    line-height: 19px;
}

.returnButton,
.depositButton{
    padding: 6px 0 7px;
    font-weight: 500;
}

.buyButton, .buyButton:hover, .buyButton:focus, .buyButton:active{
    font-weight: 700;
    background-color: #6327FE;
    color: white;
}

.myColaHeader{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.ownColaList{
    height: 364px;
    margin: 13px auto 6px auto;
}

.totalMoney{
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: right;
}

.totalMoney::before{
    content: "총금액 :";
    display: inline-block;
    margin-right: 4px;
}

.totalMoney::after{
    content: "원";
    display: inline-block;
    margin-left: 4px;
}

/* media query */

@media only screen and (max-device-width: 500px),
only screen and (max-width: 720px){
    body{
        background-color: white;
    }
    .header{
        height: 72px;
        background-size: 166px;
        background-color: white;
    }
    .mainWrapper{
        margin-top: 18px;
        background-color: white;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .myDrinks{
        padding: 32px 27px 43px;
        margin-top: 0;
    }
}
